<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/tour/change-info.css}">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<th:block th:include="frame/metaheader"></th:block>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<!-- 투어의 예약 정보가 존재하지 않을 경우 -->
 	<div th:if="${#lists.isEmpty(tourOrderList)}">
		<script>
			alert('예약 정보가 존재하지 않습니다.\n예약 화면으로 이동합니다.');
			location.href='/tour/pick-date';
		</script>
	</div> 

	<th:block th:include="frame/header"></th:block>
	<th:block th:include="frame/nav"></th:block>
	<!-- submenu 영역 -->
	<div class="submenu_wrap">
		<ul>
			<li><a href="/tour/info">투어 안내</a></li>
			<li><a href="/tour/pick-date" id="currentPage">예약</a></li>
			<li><a href="/tour/notice">투어 공지</a></li>
		</ul>
	</div>
	<div class="detail_menu">
		<ul>
			<li><a href="/tour/pick-date">프로그램 예약</a></li>
			<li><a href="/tour/change-info" id="selectPage">예약 확인/취소</a></li>
		</ul>
	</div>
	


	<!-- contetn 영역 -->
	<div th:unless="${#lists.isEmpty(tourOrderList)}">
		<div class="container text-center p-2">
			<div th:each="list,index : ${tourOrderList} ">
						
				<div class="row  mt-5 ">
					<div class="col">
						<h1>투어 확인/변경/취소</h1>
					</div>
				</div>
				<div class="inline-row"></div>
				
				<div class="row m-3">
					<div class="col-4">
						<p>신청자명</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" th:value="${session.loginInfo.name}" readonly
							class="border-0">
						<input type="hidden" id="oidx" th:value="${list.idx}">	
					</div>
					<div class="col-4 "></div>
				</div>
				<div class="row m-3">
				
					<div class="col-4">
						<p>프로그램 명</p>
					</div>
					<div class="col-4 text-left">
						<p>양조장 투어</p>
					</div>
				</div>
				<div class="row m-3">
				
					<div class="col-4">
						<p>일시</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" th:id="newDate+${list.idx}" th:value="${tourDate[index.index]}"	name="newDate" class="border-0" readonly> 
						<input type="hidden" th:id="resDate+${list.idx}" th:value="${tourDate[index.index]}"name="resDate">
					</div>
					<div class="col-4">
						<button data-toggle="modal"  data-target="#myModal" th:attrappend="data-target=${list.idx}"  
								class="chDate_input color_input" th:onclick="|button(${list.idx})|"
						 >					
						예약 일시 변경
						</button>
	                </div>
						<!-- modal control -->
					<div class="modal" tabindex="-1" role="dialog" th:id="myModal+${list.idx}"
						aria-labelledby="myModalLabel" aria-hidden="true" >
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="myModalLabel">날짜 변경</h4>
								</div>
								<div class="modal-body">
									<div class="row text-center">
										<div class=" col-12 col-lg-6 border">
											<div th:id="datepicker+${list.idx}"></div>
										</div>
										<div class="col-12 col-lg-6 border ">
											<input th:id="check+${list.idx}" type="text" class="mt-5 text-center">
											<br> <span th:id="count+${list.idx}"></span> <br>
											<p>
												*예약을 변경하시려면 변경을 원하시는 <br> 날짜를 선택하여 주시고,<br> 변경버튼 클릭 뒤
												<span class="color_text">예약일시 변경 확정</span> 버튼을<br> 클릭하셔야
												변경이 완료됩니다.
											</p>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"  th:onclick="|change(${list.idx})|">변경</button>
									<button type="button" class="btn btn-warning" th:id="cancle+${list.idx}" th:onclick="|cancle(${list.idx})|">변경취소</button>
								</div>
							</div>
						</div>
					</div>
						
				</div>
			
				<div class="row m-3">
					<div class="col-4">
						<p>인원</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" th:id="tourPeople+${list.idx}" th:value="${list.tourPeople}" class="border-0" readonly>
					</div>
				</div>
				
				<div class="row m-3">
					<div class="col-4">
						<p>휴대폰 번호</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" th:value="${session.loginInfo.phone}" class="border-0" readonly>
					</div>
				</div>
				<div class="inline-row2"></div>
				
				<div class="row ">
					<div class="col-12 col-sm-6 p-3">
						<input type="submit" value="예약일시 변경 확정" id="confirmedDateBtn"
							class="set_input color_input" th:onclick="|modify(${list.idx})|">
						
					</div>
					<div class="col-12 col-sm-6 p-3">
						<button id="cancleBtn" class="set_input color_cancle" 
								th:onclick="|reservationCancle(${list.idx})|">예약 취소</button>
					</div>
				</div>
			</div>
			
		</div>
		<!-- content 영역 끝 -->

		
	</div>
	<th:block th:include="frame/footer"></th:block>
	
	 <script th:inline="javascript">

		// 현재 날짜 이전의 날짜는 선택 비활성화
		function noBefore(date) {
			// 현재 날짜 가져오기
			var cur = new Date();
			// 가져온 날짜의 연,월,일 저장
			var curYear = cur.getFullYear();
			var curMonth = cur.getMonth();
			var curDay = cur.getDate();
			//   그 달의 말일을 구하는 함수 : js 는 0 부터 11 까지로 표현 (0 -> 1월 / 0> 1일)  -> 각각 자리는 year,month,day 
			// datepicker 에서 보여지는 날짜가 다음날 부터가 기본 값이므로 day 자리에 0이 아닌 1부터 시작 ->해당 월의 마지막 일 정상 출력                      
			var next = new Date(curYear, curMonth + 2, 1);

			// 현재 날짜 보다 이전이거나 다음달 말일 이후인 경우에는 사용 불가
			if (cur >= date || date >= next) {
				return [ false ];
			}
			return [ true ];
		}   
        
	
     // 예약 변경 버튼 클릭시    
	     function button(idx){
	    	 console.log(idx);
	    	 $('#myModal'+idx).on('show.bs.modal',function(){   		 
	       			// datepicker 관리 js
	    			//input을 datepicker로 선언
	    			$('#datepicker'+idx).datepicker(
	    					{
	    						dateFormat : 'yy-mm-dd' //달력 날짜 형태
	    						,
	    						closeText : '닫기',
	    						showOtherMonths : true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
	    						,
	    						showMonthAfterYear : true // 월- 년 순서가아닌 년도 - 월 순서
	    						,
	    						changeYear : true //option값 년 선택 가능
	    						,
	    						changeMonth : true //option값  월 선택 가능                
	    						,
	    						showOn : 'focus' //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
	    						,
	    						buttonText : "선택" //버튼 호버 텍스트              
	    						,
	    						yearSuffix : "년" //달력의 년도 부분 뒤 텍스트
	    						,
	    						monthNamesShort : [ '1월', '2월', '3월', '4월', '5월', '6월',
	    								'7월', '8월', '9월', '10월', '11월', '12월' ] //달력의 월 부분 텍스트
	    						,
	    						monthNames : [ '1월', '2월', '3월', '4월', '5월', '6월',
	    								'7월', '8월', '9월', '10월', '11월', '12월' ] //달력의 월 부분 Tooltip
	    						,
	    						dayNamesMin : [ '일', '월', '화', '수', '목', '금', '토' ] //달력의 요일 텍스트
	    						,
	    						dayNamesShort : [ '일', '월', '화', '수', '목', '금', '토' ],
	    						dayNames : [ '일요일', '월요일', '화요일', '수요일', '목요일', '금요일',
	    								'토요일' ] //달력의 요일 Tooltip
	    						,
	    						minDate : "-5y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
	    						,
	    						maxDate : "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
	    						,
	    						beforeShowDay : noBefore,
	    						beforeShow : function() {},
	    						onSelect : function() {
	    							var date = $('#datepicker'+idx).val();
	
	    							console.log(date);
	    							$('#check'+idx).val(date);
	
	    							$.ajax({
	    								url : '/tour/count',
	    								type : 'get',
	    								data : {
	    									mid : date
	    								},
	    								success : function(data) {
	    									var tpeople = $('#tourPeople'+idx).val();
	    									console.log(data);
	    									if (data == 0 || tpeople > data) {
	    										$('#count'+idx).text('예약이 완료되었습니다.');
	    										// 예약 가능인원이 0 이거나 현재 예약한 인원보다 적게 남았을 경우 선택창 비활성화
	    										$("#cancle"+idx).attr("disabled",true);
	    									} else {
	    										$('#count'+idx).text('가능인원: ' + data);
	    										$("#cancle"+idx).attr("disabled",false);
	    									}
	    								},
	    								complete : function() {
	
	    								}
	    							}); /* ajax 끝 */
	
	    						}
    					});
	       	 });	 
	     }
     // 모달 취소 버튼 클릭시
     function cancle(idx){  	
    		$('#count'+idx).text('');
    		$('#check'+idx).val('');
    	 $('#myModal'+idx).modal('hide');
     }
     
     // 모달 변경 버튼 클릭시 
     function change(idx){
    	let date =  $('#check'+idx).val();
    	 $('#newDate'+idx).val(date);
    	 $('#myModal'+idx).modal('hide');
     }
   
     
     // 예약 확정 버튼 클릭시
     function modify(idx){
    		 /* 예약 변경 확정 버튼 클릭시 js */
		if (confirm('변경된 예약일로 바꾸시겠습니까?') == true) {
			// 새로운 날짜 선택을 하지 않았을 경우
			if ($('#newDate'+idx).val() == $('#resDate'+idx).val()) {
				alert('변경된 내역이 없습니다.');
				return false;
			} else {
				
				let changeInfo = {
						// 에약된 인원
						 "tourPeople" : $('#tourPeople'+idx).val(),
						// 변경된 날짜	
						"newDate" : $('#newDate'+idx).val(),
						// 현재 날짜
						"resDate" : $('#resDate'+idx).val(),				
						// 주문 번호 
						"oidx" : idx	
				};
				
				// 
				$.ajax({
					url : '/tour/changeTour',
					type : 'post',
					contentType : "application/json",
					data :JSON.stringify(changeInfo),			
					success : function(data) {
						console.log(data);
						if(data == true){
							alert('예약이 변경되었습니다.');
							sendChangeMail(changeInfo);
							// 현재 페이지 다시로드	
							location.reload();
						}
					},
					error : function(request, status, error) {
						alert('서버 통신에 문제가 발생했습니다. 다시 실행해주세요.');
						console.log("code:" + request.status + "\n" + "error:" + error);
					}
				}); // ajax 끝 
			}

		} else {
			location.reload();
			return false;
		}		
     }
     
     function sendChangeMail(changeInfo){
    	 console.log(changeInfo);
    	 $.ajax({
    		 url : '/tour/sendMailchange',
    		 type : 'post',
    		 contentType : "application/json",
    		 data : JSON.stringify(changeInfo)
    	 });
     }
     
     
     
     // 예약 취소 버튼 클릭시
     function reservationCancle(idx){
    	let people = $('#tourPeople'+idx).val();
    	let tdate = $('#resDate'+idx).val();
    	
    	console.log(idx);
    	console.log(people+' : '+tdate);
    	console.log(typeof idx +" : "+ typeof people +" : "+ typeof idx);
		if (confirm('예약을 취소하시겠습니까?') == true) {
		
			$.ajax({
				url : '/tour/cancleOrder/',
				type : 'get',
				data : {
					"people" : people,
					"tdate" : tdate,
					"idx" : idx
				}, 
				success : function(data){
					if(data == 1){
						alert('예약이 취소되었습니다.');
						location.reload();
					}
				},
				error : function(request, status, error) {
					alert('서버 통신에 문제가 발생했습니다. 다시 실행해주세요.');
					console.log("code:" + request.status + "\n" + "error:" + error);
				}
			});
			
			
			
		} else {
			return false;
		}
		
     }
     
	</script>




</body>
</html>