<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

<resultMap type="com.bitcamp.sc.review.domain.ReviewVO" id="ReviewDomain">
	<result property="idx" column="ridx"/>
	<result property="title" column="rtitle"/>
	<result property="name" column="rname"/>
	<result property="contents" column="rcontents"/>
	<result property="rate" column="rrate"/>
	<result property="date" column="rdate"/>
	<result property="likes" column="rlikes"/>
	<result property="viewcnt" column="rviewcnt"/>
	<result property="gphoto" column="gphoto"/>
	<result property="oidx" column="oidx"/>
</resultMap>


    <!-- 01. 게시글 작성 -->
    <insert id="insertReview"
		parameterType="com.bitcamp.sc.review.domain.ReviewVO"
		useGeneratedKeys="true"
		keyProperty="idx"
	>
        INSERT INTO review 
        (
	         rtitle
	        , rcontents
	        , rname
	        , oidx
        ) 
        VALUES 
        (
	         #{title}
	        , #{contents}
	        , #{name}
	        , #{oidx}
        )
	</insert>

	<!--02. 게시글 상세보기 조회 -->
	<select id="readReview"  resultMap="ReviewDomain" parameterType="Integer" >
		SELECT
			ridx
        	, rtitle
        	, rname
        	, rcontents
        	, rrate
        	, date_format(rdate,'%Y-%m-%d') as rdate
            , rlikes
            , oidx
		FROM
			review
		WHERE
			ridx = #{idx}
	</select>
	
	<!-- 03. 게시글 수정처리 -->
	<update id="updateReview" parameterType="com.bitcamp.sc.review.domain.ReviewVO" >
		UPDATE 
			review 
		SET 
			rtitle = #{title}
			, rcontents = #{contents} 
		WHERE 
			ridx = #{idx}
	</update>
    
	<!-- 04. 게시글 삭제처리 -->
	<delete id="deleteReview"  parameterType="Integer" >
		DELETE 
		FROM 
			review 
		WHERE 
			ridx = #{idx}
	</delete>
	

    <!-- 05. 게시글 전체 목록 조회 -->
    <select id="listAllReview"  resultMap="ReviewDomain" >
        SELECT 
			ridx
			, rtitle
			, rname
			, rcontents
			, rrate
			, DATE_FORMAT(rdate,'%Y-%m-%d') AS rdate
			, rlikes
			, A.oidx
			, IFNULL((SELECT gphoto FROM goods WHERE gidx = (SELECT gidx FROM orders WHERE A.oidx = oidx)), '') AS gphoto
		FROM
			review A
		ORDER BY
			ridx DESC, rdate DESC
    </select>
    
    
<!--     06-1. 게시글 좋아요 증가 처리
	<update id="likeReview" parameterType="com.bitcamp.sc.review.domain.ReviewVO" >
		UPDATE 
			review 
		SET 
			rlikes = #{likes} + 1
		WHERE 
			ridx = #{idx}
	</update>
	
	06-2. 게시글 좋아요 감소 처리
	<update id="likeReview" parameterType="com.bitcamp.sc.review.domain.ReviewVO" >
		UPDATE 
			review 
		SET 
			rlikes = #{likes} - 1
		WHERE 
			ridx = #{idx}
	</update> -->
    
    
    
<!--	// 07. 게시글 조회수 증가처리
	<update id="increaseViewcnt">
		UPDATE review SET viewcnt = viewcnt + 1 WHERE ridx = #{idx}
	</update>
-->
	
</mapper>
