/* 전체를 감싼 영역 */
.wrap_main {
    width: 490px;
    margin: 60px auto 0 auto;
}
/* '아이디/비밀번호 찾기' 제목 문구 */
.wrap_main h1{
    text-align: center;
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
    
}
/* 제목 아래의 작은 글씨. */
.wrap_main p{
    margin:30px auto;
    color:rgb(129, 129, 129);
    font-size: 14.5px;
    text-align: center;
}

/* 주요 내용을 포함하는 박스 */
.result_box{
    width:370px;
    margin: 0 auto;
    border:1px solid rgb(212, 212, 212);
    border-radius: 6.5%;
    padding:10px 25px;

}

/* 로그인 버튼 */
.result_box input[type=button], .result_box input[type=submit]{
    width:200px;
    height:44px;
    border: none;
    background-color: #1ecad3;
    color:white;
    display:block;
    cursor: pointer;
    margin: 40px auto ;

}
/* 박스안의 a태그에 마우스를 갖다 댔을 때 효과 */
.result_box a:hover{
    text-decoration: none;  
}

/* fintPwAuth.html해당 */
.border-1{
    border:1px solid rgb(212, 212, 212);
    font-size: 14.5px;
    padding:10px;
    font-size:14px;
}
.border-1>label{
    margin:0 !important;
}
/* 인증번호 입력하는 input의 border 효과 없애기 */
.border_none{
    border:none;
}
/* 인증번호 입력하는 input의 테두리 효과 없애기 */
.border-1 input:focus{
    outline:none;
}

/* findPwSetting 해당 */
.width_400px{
	width:300px;
	height:23px;
	marthin:0 auto;
}
.width_400px::placeholder{
	color:#ccc;
	font-size:13.5px;
}
