/* 전체를 감싼 영역 */
.wrap_main {
    width: 490px;
    margin: 60px auto 0 auto;
}
/* '아이디/비밀번호 찾기' 제목 문구 */
.wrap_main h1{
    text-align: center;
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
    
}
/* 제목 아래의 작은 글씨. */
.wrap_main p{
    margin:30px auto;
    color:rgb(129, 129, 129);
    font-size: 14.5px;
    text-align: center;
}

/* 탭 선택할 때 a태그 효과 */
li.nav-item>a:hover{
    color:gray;
}
/* 탭 안에 있는 내용 */
.inner-tab{
    height:200px;
}
/* 탭 안에 있는 input */
.inner-tab input{
    width:350px;
    height:44px;
    border:none;
    border-bottom:1px solid darkgray;
    display:block;
    margin:0 auto 10px auto ;
}
/* 탭 안에 있는 input을 눌렀을 때 테두리 효과 */
.inner-tab input:focus{
    outline:none;
}

/* input 박스를 클릭해야만 비로소 보이는 태그 */
.label_space{
    width:80px;
    height:20px;
    display:block;
    margin:30px 0 5px 10px ;
}
.inner-tab label{
    /* 라벨 누르면 회색 글시로 변해서 보이게 하기 */
    /* color: rgb(134, 134, 134); */
    font-size:14px;
    color:white;
    /* width:80px;
    height:20px;
    margin:30px 0 0 40px ;
    font-size:14px;
    color: rgb(134, 134, 134); */
    
}

/* input박스들 모두에게 적용 */
#id input[type=submit], #pw input[type=submit], .chkok{
    width:200px;
    height:44px;
    border: none;
    background-color: #1ecad3;
    color:white;
    display:block;
    cursor: pointer;
    margin: 40px auto 0 auto;

}

.mx-6 {
    margin: 0 63px;
}

.display_none {
    display: none;
}

.font-mint {
    color: #1ecad3 !important;
}

.nav-link {
    color: gray
}

.nav-link.active {
    color: #1ecad3 !important;
    font-weight: bold;
}