<div id="header">
	<div class="col-group">
		<div class="col-left">
			<a href="#"><img class="logo-transform" src="images/logo.png"></a>
		</div>
		<div class="col-center">
			<a href="#"><img class="logo-fixed" src="images/logo.png"></a>
		</div>
		<div class="col-right">
			<ul class="service-menu">
				<li><a href="#">LOGOUT</a></li>
				<li><a href="#">MYPAGE</a></li>
				<li><a href="#">CART</a></li>
				<a href="#"><button class="rez-btn-icon">양조장 예약</button></a>
			</ul>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar" aria-expanded="false">
				<img class="navbar-toggler-icon" src="images/navbar_toggler_icon.png">
			</button>
		</div>
	</div>
</div>

<div id="collapsibleNavbar" class="navbar-collapse collapse">
	<div class="slide-menu-header">
		<div>
			<a href="#"><img class="logo-transform" src="images/logo.png"></a>
		</div>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false">
			<img class="navbar-closer-icon" src="images/navbar_closer_icon.png">
		</button>
	</div>
	<ul class="slide-menu-nav">
		<li class="nav-service-menu">
			<a href="#">LOGOUT</a>
			<a href="#">MYPAGE</a>
			<a href="#">CART</a>
		</li>
		<li class="nav-rez-btn"><a href="#">양조장 예약</a></li>
	</ul>
	<div class="slide-menu-list">
		<ul>
			<li><a href="#">DIVERSITY</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">SHOP</a></li>
			<li><a href="#">BREWERY</a></li>
			<li><a href="#">REVIEW</a></li>
		</ul>
	</div>
</div>

<script>
	const x = window.matchMedia("(min-width: 992px)")

	x.addListener(function(a) {
		$('#collapsibleNavbar').removeClass('show');
	});
</script>