<div id="header">
	<div class="col-group">
		<div class="col-left">
			<a th:href="@{/}"><img class="logo-transform" src="/images/logo.png"></a>
		</div>
		<div class="col-center">
			<a th:href="@{/}"><img class="logo-fixed" src="/images/logo.png"></a>
		</div>
		<div class="col-right">
			<ul class="service-menu">
				<!-- 로그인 세션 없을 때 보이는 메뉴 -->
				<th:block th:if="${session.loginInfo == null}">
					<li><a th:href="@{/login}">LOGIN</a></li>
					<li><a th:href="@{/join/type}">JOIN</a></li>
					<!-- <li><a th:href="@{/cart}">CART</a></li> -->
				</th:block>
				<!-- 로그인 세션 있을 때 보이는 메뉴 -->
				<th:block th:unless="${session.loginInfo == null}">
					<li><a th:href="@{/logout}">LOGOUT</a></li>
					<li><a th:href="@{/mypage/orderList}">MYPAGE</a></li>
					<li><a th:href="@{/basket/cart}">CART</a></li>
				</th:block>
				<a th:href="@{/tour/pick-date}"><button class="rez-btn-icon">양조장 예약</button></a>
			</ul>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar" aria-expanded="false">
				<img class="navbar-toggler-icon" src="/images/navbar_toggler_icon.png">
			</button>
		</div>
	</div>
</div>

<div id="collapsibleNavbar" class="navbar-collapse collapse">
	<div class="slide-menu-header">
		<div>
			<a th:href="@{/}"><img class="logo-transform" src="/images/logo.png"></a>
		</div>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false">
			<img class="navbar-closer-icon" src="/images/navbar_closer_icon.png">
		</button>
	</div>
	<ul class="slide-menu-nav">
		<!-- 로그인 세션 없을 때 보이는 메뉴 -->
		<th:block th:if="${session.loginInfo == null}">
		<li><a th:href="@{/login}">LOGIN</a></li>
		<li><a th:href="@{/join/type}">JOIN</a></li>
		<!-- <li><a th:href="@{/cart}">CART</a></li> -->
		</th:block>
		<!-- 로그인 세션 있을 때 보이는 메뉴 -->
		<th:block th:unless="${session.loginInfo == null}">
		<li><a th:href="@{/logout}">LOGOUT</a></li>
		<li><a th:href="@{/mypage/orderList}">MYPAGE</a></li>
		<li><a th:href="@{/cart}">CART</a></li>
		</th:block>
		<a th:href="@{/tour/pick-date}"><button class="rez-btn-icon">양조장 예약</button></a>
	</ul>
	<div class="slide-menu-list">
		<ul>
			<li><a th:href="@{/main}"><span>DIVERSITY</span></a></li>
			<li><a th:href="@{/about}"><span>ABOUT</span></a></li>
			<li><a th:href="@{/shop}"><span>SHOP</span></a></li>
			<li><a th:href="@{/tour}"><span>TOUR</span></a></li>
			<li><a th:href="@{/review}"><span>REVIEW</span></a></li>
		</ul>
	</div>
</div>

<script>
	const x = window.matchMedia("(min-width: 992px)")

	x.addListener(function(a) {
		$('#collapsibleNavbar').removeClass('show');
	});
</script>