<!-- meta_haeder -->
<script th:src="@{https://code.jquery.com/jquery-1.12.4.min.js}"></script>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- CSS files -->
<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<!-- <script th:src="@{bootstrapJS/bootstrap.bundle.min.js}"></script> -->