a:visited{
	color:black;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div{
    display: block;
}

/* 추후 jquery로 코드 수정할 것 */
#currentPage{
    background-color: #1ecad3;
    color: white;
}
#selectPage{
    color: #1ecad3 !important;
}

/* nav_submenu 영역 */
.submenu_wrap{
    background-color: #f4f4f4;
    height: 50px;
    line-height: 50px;
   overflow: hidden;
   text-align: center;
}

.submenu_wrap ul li{
   
    display: inline-block; 
}
.submenu_wrap ul a{
    padding: 0 50px;
    color:black;
}

.submenu_wrap a:hover{
    background-color: #1ecad3;
    color: white;
}

/* submenu의 세부 메뉴 영역 */
.detail_menu{
    height: 50px;
    line-height: 50px;
   overflow: hidden;
   text-align: center;
}

.detail_menu ul li{
    display: inline-block; 
}

/* submenu -> detailmenu의 a 태그는 inline-block 설정 할 것 */
.detail_menu ul a{
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
    color:black;
}
.detail_menu .active{
    border-width: 0 0 1px 0;
    border-style: solid;
}

.detail_menu a:hover{
    color: #1ecad3;
}

/* content 영역 */
.col p{
    text-align: center;
    color: #1ecad3;
    font-size: 48px;
    font-weight: 900;
}
.inline-row{
    width: 100%;
    height: 50px;
    border-top: 2px solid #f4f4f4;
    
}
.inline-row40{
    width: 100%;
    height: 40px;
}
.inline-row80{
    width: 100%;
    height: 80px;
} 

/* collapse 되는 영역 -> faq*/
.road .roadInfo{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.img{
    width: 100%;
    height: 400px;
}

.btn-primary{
    background-color: #1ecad3;
    color: white !important;
}

.r-p{
    float: right;
    padding-right: 30px;
}
.icon{
    font-size: 30px;
}
.p_font {
    font-size: 13px;
}
.card-header {
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.border_b {
    border-bottom: 1px solid #ddd;
}

.card-link{
	color: #3d464b;
}