<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">
	
	<resultMap type="com.bitcamp.sc.shop.domain.GoodsVO" id="GoodsDomain">
		<result property="idx" column="gidx"/>
		<result property="gname" column="gname"/>
		<result property="price" column="gprice"/>
		<result property="photo" column="gphoto"/>
		<result property="text" column="gtext"/>
	
	</resultMap>
	
	<!-- 01.상품추가 -->
	<insert id="insertGoods" parameterType="com.bitcamp.sc.shop.domain.GoodsVO" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO goods(gname, gprice, gphoto, gtext) VALUES(#{gname}, #{price}, #{photo}, #{text})	
	</insert>

	<!-- 상품 삭제 -->
	<delete id="deleteGoods" parameterType="com.bitcamp.sc.shop.domain.GoodsVO">
		DELETE FROM goods WHERE gidx= #{idx}
	</delete>
	
	<!-- 상품 찾기 -->
	<select id="findIdx" resultType="com.bitcamp.sc.shop.domain.GoodsVO" resultMap="GoodsDomain">
		SELECT * FROM goods where gidx= #{idx}
	</select>

</mapper>