<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>동시 입장 안내</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/tour/tourNotice-desc.css}">
<th:block th:include="frame/metaheader"></th:block>

</head>
<body>
	<th:block th:include="frame/header"></th:block>
	<th:block th:include="frame/nav"></th:block>
	<!-- submenu 영역 -->
	<div class="submenu_wrap">
		<ul>
			<li><a th:href="@{/tour/info}">투어 안내</a></li>
			<li><a th:href="@{/tour/pick-date}">예약</a></li>
			<li><a th:href="@{/tour/notice}" id="currentPage">투어 공지</a></li>
		</ul>
	</div>
	<div class="detail_menu">
		<ul>
			<li>
				<a th:href="@{/tour/notice}" id="selectPage" class="active">양조장소식</a>
			</li>
		</ul>
	</div>
	<div class="inline-row"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="text_br">BREWERY NEWS</p>
				<p class="text-center pt">신촌 맥주 양조장 소식을 알려드립니다.</p>
			</div>
		</div>
		<div class="row mt-5 ml-5 text-left">
			<div class="col col-12">
				<h3 class="h3-font">공지 동시 가능 입장 인원 안내</h3>
				<div>
					<a class="inline" th:href="@{/tour/notice}">brewery news</a> &nbsp;<span>2021-05-25</span>
					<hr>
				</div>
				<div class="mt-5 mb-5">
					<img class="c-img "
						src="https://cdn.imweb.me/upload/S20200702f03eaee38b16e/9b8bf069c739e.png">
				</div>
				<div>
					<p class="pl-3">
						*아래의 내용은 도내 사회적 거리두기 단계 조정에 따라 달라질 수 있습니다.<br> 자세한 사항은
						 <a href="#" class="link"><span style="color: #1ecad3;">서울특별시 코로나 19 홈페이지</span></a> 
						 를 참고해주시면 감사하겠습니다.
					</p>
					<br>
					<p class="p-2 lh">
					<h4 style="font-weight: bold;">
						<span class="span_color">오후 6시 이전</span>
					</h4>
					<h5>
						<strong>3인 이상 일행 입장 제한 및 환불 불가</strong>
					</h5>
					<br> 일행 당 4명까지만 입장 가능하며, 5인 이상은 예약 및 따로 입장이 불가합니다.<br> 단,
					동일 거주지의 직계 가족일 경우 인원 제한없이 입장 가능합니다. (증빙자료 필참)<br> 현장에서 5인 이상의
					일행으로 판단될 경우, 예약 프로그램에 대한 <span class="span_color">환불은 불가</span>하오니
					신중한 예약 부탁드립니다.<br> <br>
					<h4>
						<span class="span_color">오후 6시 이후</span>
					</h4>
					<h5>
						<strong>3인 이상 일행 입장 제한 및 환불 불가</strong>
					</h5>
					<br> 일행 당 2명까지만 입장 가능하며, 3인 이상은 예약 및 따로 입장이 불가합니다.<br> 단,
					동일 거주지의 직계 가족일 경우 인원 제한없이 입장 가능합니다. (증빙자료 필참)<br> 현장에서 3인 이상의
					일행으로 판단될 경우, 예약 프로그램에 대한 <span class="span_color">환불은 불가</span>하오니
					신중한 예약 부탁드립니다.<br> 또한, 오후 6시 이전에 3인 이상의 일행과 입장하신 고객님께는 오후 6시
					정각에 퇴장 안내드릴 예정입니다.<br> <br> 고객 여러분께서 안심하고 즐기실 수 있도록<br>
					신촌맥주 양조장은 앞으로도 방역 및 예방활동에 최선을 다하겠습니다.<br> 저희의 사회적 거리두기 실천 지침에
					동참해주셔서 감사합니다.<br>
					</p>
				</div>
				<div class="inline-row1"></div>
				<div class="com-section mt-5">
					<div class="list mb-3">
						<a th:href="@{/tour/notice/3}" class="b-b"> <span class="mr-3">
								<i class="fa fa-angle-up"></i>
						</span> 동시 가능 입장 안내
						</a>
					</div>
					<a class="mb-5" th:href="@{/tour/notice}"><button class="bt">목록</button></a>
				</div>
			</div>
		</div>
	</div>

		<th:block th:include="frame/footer"></th:block>

</body>
</html>