<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>미취학 아동 참여 프로그램 안내</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/tour/tourNotice-desc.css}">
<th:block th:include="frame/metaheader"></th:block>

</head>
<body>
	<th:block th:include="frame/header"></th:block>
	<th:block th:include="frame/nav"></th:block>
	<!-- submenu 영역 -->
	<div class="submenu_wrap">
		<ul>
			<li><a th:href="@{/tour/info}">투어 안내</a></li>
			<li><a th:href="@{/tour/pick-date}">예약</a></li>
			<li><a th:href="@{/tour/notice}" id="currentPage">투어 공지</a></li>
		</ul>
	</div>
	<div class="detail_menu">
		<ul>
			<li>
				<a href="/tour/notice" id="selectPage" class="active">양조장소식</a>
			</li>
		</ul>
	</div>
	<div class="inline-row"></div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="text_br">BREWERY NEWS</p>
				<p class="text-center pt">신촌 맥주 양조장 소식을 알려드립니다.</p>
			</div>
		</div>
		<div class="row mt-5 ml-5 text-left">
			<div class="col col-12">
				<h3 class="h3-font">공지미취학 아동(0세부터 만 6세) 프로그램 참여 안내</h3>
				<div>
					<a class="inline" href="/tour/notice">brewery news</a> &nbsp;<span>2021-08-06</span>
					<hr>
				</div>
				<div class="mt-5 mb-5">
					<img class="c-img "
						src="https://cdn.imweb.me/upload/S20200702f03eaee38b16e/bacc312b6e8de.png">
				</div>
				<div>
					<p>
						양조장 투어<br> <br> <span
							style="background-color: rgb(29, 202, 211); color: white;">
							보호자 동반이라해도 양조장 투어 참여가 어렵습니다.</span> <br> 투어 외 공간에서 대기하실 경우, 보호자와 함께
						대기해주셔야합니다.<br> 브랜드샵 & 펍<br> <br> 전 연령 브랜드샵과 펍 입장
						가능합니다.<br> 단, 보호자 동반 하에 자유롭게 이용 가능합니다.<br>
					</p>
				</div>
				<div class="inline-row1"></div>
				<div class="com-section mt-5">
					<div class="list mb-3">
						<a href="/tour/notice/1" class="b-b "> <span class="mr-3">
								<i class="fa fa-angle-up"></i>
						</span> 명절 휴무 안내
						</a> <a href="/tour/notice/3" class="b-b "> <span class="mr-3">
								<i class="fa fa-angle-down"></i>
						</span> 사회적 거리두기 안내
						</a>
					</div>
					<a class="mb-5" href="/tour/notice"><button class="bt">목록</button></a>
				</div>
			</div>
		</div>
	</div>
	
		<th:block th:include="frame/footer"></th:block>
</body>
</html>