<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h2>카카오페이 결제가 정상적으로 완료되었습니다.</h2>
	
	결제일시: [[${payInfo.approved_at}]]<br>
	주문번호: [[${payInfo.partner_order_id}]]<br> 
	상품명: [[${payInfo.item_name}]]<br> 
	상품수량: [[${payInfo.quantity}]]<br> 
	결제금액: [[${payInfo.amount.total}]]<br> 
	결제방법: [[${payInfo.payment_method_type}]]<br>
	확인 버튼을 눌려주세요.

	<form action="/paySuccess" th:object="${payInfo}" id="success">
	</form>
	<button type="submit" onclick="sucSubmit();">제출하기</button>

	<!-- <h2>[[${payInfo}]]</h2> -->
	
	<script>
		function sucSubmit() {
			window.close();
		}
		
		window.onunload = () => {
			opener.location.href = "/paySuccess?orderId=" + [[${payInfo.partner_order_id}]];
			console.log(orderId);
		}
	</script>

</body>
</html>