<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PayMapper">

	<resultMap type="com.bitcamp.sc.pay.domain.PayInfo" id="PayDomain">
		<result property="idx" column="pidx"/>
		<result property="price" column="pprice"/>
		<result property="date" column="pdate"/>
		<result property="way" column="pway"/>
		<result property="status" column="pstatus"/>
		<result property="orderIdx" column="oidx"/>
	</resultMap>

	<insert id="save" parameterType="com.bitcamp.sc.pay.domain.PayInfo" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO payment(pprice, pdate, pway, pstatus, oidx) VALUES(#{price}, #{date}, #{way}, #{status}, #{orderIdx})
	</insert>
	
	<select id="findByIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT * FROM payment WHERE pidx=#{idx}
	</select>
	
	<select id="findByOrderIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT * FROM payment WHERE oidx=#{orderIdx}
	</select>
	
	<select id="findByMemberIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT pidx, pprice, pdate, pway, pstatus, p.oidx FROM payment p, orders o WHERE p.oidx=o.oidx AND o.midx=#{memberIdx}
	</select>

	<select id="findByCategoryAndMemberIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT pidx, pprice, pdate, pway, pstatus, p.oidx
		FROM payment p, orders o
		WHERE p.oidx=o.oidx AND o.ocategory=#{category} AND o.midx=#{memberIdx}
	</select>

</mapper>