<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/tour/change-info.css}">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<th:block th:include="frame/metaheader"></th:block>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<th:block th:include="frame/header_login"></th:block>
	<th:block th:include="frame/nav"></th:block>
	<!-- submenu 영역 -->
	<div class="submenu_wrap">
		<ul>
			<li><a href="/tour/info">투어 안내</a></li>
			<li><a href="/tour/pick-date">예약</a></li>
			<li><a href="/tour/notice">투어 공지</a></li>
		</ul>
	</div>
	<div class="detail_menu">
		<ul>
			<li><a href="/tour/pick-date">프로그램 예약</a></li>
			<li><a href="/tour/change-info" id="selectPage">예약 확인/취소</a></li>
		</ul>
	</div>
	<!-- contetn 영역 -->
	<div class="container text-center p-2">
			<div th:each="list : ${tourOrderList}">
				<div class="row  mt-5 ">
					<div class="col">
						<h1>투어 확인/변경/취소</h1>
					</div>
				</div>
				<div class="inline-row"></div>
				<div class="row m-3">
					<div class="col-4">
						<p>신청자명</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" th:value="${list.mname}" readonly class="border-0">
					</div>
					<div class="col-4 "></div>
				</div>
				<div class="row m-3">
					<div class="col-4">
						<p>프로그램 명</p>
					</div>
					<div class="col-4 text-left">
						<p>양조장 투어</p>
					</div>
				</div>
				<div class="row m-3">
					<div class="col-4">
						<p>일시</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" id="newDate" th:value="${list.tdate}" name="newDate" class="border-0" readonly>
						<input type="hidden" id="resDate" th:value="${list.tdate}" name="resDate" >
					</div>
					<div class="col-4">
						<input type="button" value="예약 일시 변경" id="btn-changeDate"
							class="chDate_input color_input">
					</div>
				</div>
				<div class="row m-3">
					<div class="col-4">
						<p>인원</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" id="tourPeople" th:value="${list.tpeople}" class="border-0" readonly>
					</div>
				</div>
				<div class="row m-3">
					<div class="col-4">
						<p>휴대폰 번호</p>
					</div>
					<div class="col-4 text-left outline_del">
						<input type="text" th:value="${list.mphone}" class="border-0" readonly>
					</div>
				</div>
				<div class="inline-row2"></div>
				<div class="row ">
					<div class="col-12 col-sm-6 p-3">
						<input type="submit" value="예약일시 변경 확정" id="confirmedDateBtn" class="set_input color_input"> 
					<!-- <input type="hidden" value="tour" name="category" id="category"> -->	
					</div>
					<div class="col-12 col-sm-6 p-3">
						<input type="submit" value="예약 취소" id="cancleBtn" class="set_input color_cancle">
					</div>
				</div>
			</div>
	</div>
	<!-- content 영역 끝 -->

	<!-- modal control -->
	<div class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">날짜 변경</h4>
				</div>
				<div class="modal-body">
					<div class="row text-center">
						<div class=" col-12 col-lg-6 border">
							<div id="datepicker"></div>
						</div>
						<div class="col-12 col-lg-6 border ">
							<input id="check" type="text" class="mt-5 text-center"> <br> 
							<span id="count"></span> <br>
							<p>
								*예약을 변경하시려면 변경을 원하시는 <br> 날짜를 선택하여 주시고,<br> 변경버튼 클릭 뒤 
								<span class="color_text">예약일시 변경 확정</span> 버튼을<br> 클릭하셔야 변경이 완료됩니다.
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="modal-btn-si">변경</button>
					<button type="button" class="btn btn-warning" id="modal-btn-no">변경취소</button>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="frame/footer"></th:block>

	<script>
		$(function() {
			/* modal 관리 js */
			var modalConfirm = function(callback) {

				$("#btn-changeDate").on("click", function() {
					$("#mi-modal").modal('show');
					$("#datepicker").datepicker("setDate",'+1D' );
					var c= 	$("#datepicker").datepicker("setDate",'+1D' ).val();
					console.log(c);	
					$('#count').text('');
					
				});

				$("#modal-btn-si").on("click", function() {
					callback(true);
					$("#mi-modal").modal('hide');
				});

				$("#modal-btn-no").on("click", function() {
					callback(false);
					$("#mi-modal").modal('hide');
				});
			};
			/* modal 확인/취소 버튼 */
			modalConfirm(function(confirm) {
				if (confirm) {

					$("#newDate").val($('#check').val());
				} else {

					$('#newDate').val();
				}
			});
			/* 예약 변경 확정 버튼 클릭시 js */
			$('#confirmedDateBtn').on('click', function() {
				if (confirm('변경된 예약일로 바꾸시겠습니까?') == true) {
					// 새로운 날짜 선택을 하지 않았을 경우
					if($('#newDate').val() == $('#resDate').val()){
						alert('변경된 내역이 없습니다.');
						return false;
					}else{
						
					// 변경된 날짜	
					var newDate = $('#newDate').val();
					// 현재 날짜
					var resDate = $('#resDate').val();
					// 임의 midx -> 나중에 수정
					var midx = 3;
					// 
					$.ajax({
						url : '/tour/changeTour',
						type : 'post',
						data : {
							"newDate" : newDate,
							"resDate" : resDate,
							"midx" : midx
						},
						success : function(data) {

						//	console.log(data);
							alert('예약이 변경되었습니다.');
						// 현재 페이지 다시로드	
							location.reload();
							
						},
						complete : function() {

						}
					}); /* ajax 끝 */
					}
					
					
					
					
				} else {
					location.reload();
					return false;
				}
			});
			/* 예약 취소 버튼 클릭시  */
			$('#cancleBtn').on('click', function() {
				if (confirm('예약을 취소하시겠습니까?') == true) {
					// ajax : 멤버 번호와 예약날짜를 post방식으로 보냄 -> 요청 받은 controller에서 pay인터페이스 호출 (멤버번호,날짜) -> 결제 상태 완료 찾기
					// -> 결제 환불 처리 후 -> tour 테이블의 인원,날짜 update
					// -> 페이지는 예약 페이지로 
					alert('예약이 취소되었습니다.');
				} else {
					return false;
				}
			});

			// datepicker 관리 js
			//input을 datepicker로 선언
			$("#datepicker").datepicker(
					{
						dateFormat : 'yy-mm-dd' //달력 날짜 형태
						,
						closeText : '닫기',
						showOtherMonths : true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
						,
						showMonthAfterYear : true // 월- 년 순서가아닌 년도 - 월 순서
						,
						changeYear : true //option값 년 선택 가능
						,
						changeMonth : true //option값  월 선택 가능                
						,
						showOn : 'focus' //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
						,
						buttonText : "선택" //버튼 호버 텍스트              
						,
						yearSuffix : "년" //달력의 년도 부분 뒤 텍스트
						,
						monthNamesShort : [ '1월', '2월', '3월', '4월', '5월', '6월',
								'7월', '8월', '9월', '10월', '11월', '12월' ] //달력의 월 부분 텍스트
						,
						monthNames : [ '1월', '2월', '3월', '4월', '5월', '6월',
								'7월', '8월', '9월', '10월', '11월', '12월' ] //달력의 월 부분 Tooltip
						,
						dayNamesMin : [ '일', '월', '화', '수', '목', '금', '토' ] //달력의 요일 텍스트
						,
						dayNamesShort : [ '일', '월', '화', '수', '목', '금', '토' ],
						dayNames : [ '일요일', '월요일', '화요일', '수요일', '목요일', '금요일',
								'토요일' ] //달력의 요일 Tooltip
						,
						minDate : "-5y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
						,
						maxDate : "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
						,
						beforeShowDay : noBefore,
						beforeShow : function() {
							
						},
						onSelect : function() {
							var date = $('#datepicker').val();
							
							console.log(date);
							$('#check').val(date);

							$.ajax({
								url : '/tour/count',
								type : 'get',
								data : {
									mid : date
								},
								success : function(data) {
									var tpeople = $('#tourPeople').val();
									console.log(data);
									if(data == 0 || tpeople > data){
										$('#count').text('예약이 완료되었습니다.');
										  $("#modal-btn-si").attr("disabled", true);
									}
									 else {
										$('#count').text('가능인원: ' + data);
										$("#modal-btn-si").attr("disabled", false);
									}
								},
								complete : function() {

								}
							}); /* ajax 끝 */

						}
					});

			//초기값을 오늘 날짜로 설정해줘야 합니다.
			//$('#datepicker').datepicker('setDate', '+1D'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
			
		});
		function noSelectCountZero(data){
			
				return [ false ];
			
		}

		// 현재 날짜 이전의 날짜는 선택 비활성화
		function noBefore(date) {
			// 현재 날짜 가져오기
			var cur = new Date();
			// 가져온 날짜의 연,월,일 저장
			var curYear = cur.getFullYear();
			var curMonth = cur.getMonth();
			var curDay = cur.getDate();
			//   그 달의 말일을 구하는 함수 : js 는 0 부터 11 까지로 표현 (0 -> 1월 / 0> 1일)  -> 각각 자리는 year,month,day 
			// datepicker 에서 보여지는 날짜가 다음날 부터가 기본 값이므로 day 자리에 0이 아닌 1부터 시작 ->해당 월의 마지막 일 정상 출력                      
			var next = new Date(curYear, curMonth + 2, 1);
			/* 
			    if ( date < cur ) {
			        return [false];
			    }
			    if(date >= next){
			        return [false];
			    } */
			// 현재 날짜 보다 이전이거나 다음달 말일 이후인 경우에는 사용 불가
			if (cur >= date || date >= next) {
				return [ false ];
			}
			return [ true ];
		}
	</script>




</body>
</html>