body {
	color: #55585b !important;
}

#sideBar {
	display: block;
}

#scrollableNavBar {
	display: none;
}

#rezList {
	border-collapse: separate;
	text-align: left;
	border-top: 1px solid #ccc;
	margin: 5px;
}

#rezList th {
	width: 250px;
	padding: 35px 30px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

#rezList td {
	width: 200px;
	border-bottom: 1px solid #ccc;
}

#rezChangeBtn {
	width: 450px;
	height: 50px;
	margin-top: 25px;
}

@media ( max-width : 992px) {
	#sideBar {
		display: none;
	}
	#scrollableNavBar {
		display: block;
		width: 80%;
		align-items: center;
		margin: 0 auto;
	}
}