
#floating-btn {
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1500;
    width: 60px;
    right: 30px;
    bottom: 50px;
  }
  
  .share {
    margin: 10px 0;
  }
  
  #floating-btn img {
    width: 100%;
  }


  @media (max-width:990px) {
    #floating-btn {
        width: 45px;
        right: 15px;
        bottom: 15px;
      }      
  }