<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>신촌 맥주 : 회원가입</title>
<!-- metaheader 영역 -->
<link rel="stylesheet" th:href="@{/css/member/findEmailPw2.css}">
<th:block th:replace="frame/metaheader"></th:block>
</head>
<body>

	<!-- header 영역 -->
	<th:block th:replace="frame/header"></th:block>

	<!-- nav 영역 -->
	<th:block th:replace="frame/nav"></th:block>

	<!-- content 영역 ---------------------------------------------------------->
     <!-- 내가만든 영역// --------------------------------------------------------------------------->

    <div class="wrap_main ">
        <h1>이메일 찾기</h1>
        <p class="id_tab ">이메일이 기억나지 않으세요? <br>본인인증을 통해 이메일을 확인하실 수 있어요!</p>
        <div class="result_box">
            <p>입력하신 정보와 일치하는 계정을 발견했습니다. 
               <br> abc***@gmail.com</p>
               <a href=""><input type="button" value="로그인"></a>
        </div>

    </div>
    <!-- // 내가만든 영역 ---------------------------------------------------------------------------------------->

	<!-- footer 영역 -->
	<th:block th:replace="frame/footer"></th:block>

</body>
</html>