<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신촌 맥주 : 회원가입</title>
<!-- metaheader 영역 -->
<link rel="stylesheet" th:href="@{/css/member/findEmailPwForm.css}">
<th:block th:replace="frame/metaheader"></th:block>
</head>
<body>

	<!-- header 영역 -->
	<th:block th:replace="frame/header"></th:block>

	<!-- nav 영역 -->
	<th:block th:replace="frame/nav"></th:block>

	<!-- content 영역 -->
	<!-- html(1). 이메일/비밀번호 찾기 form 메인  -사용자 요청:/inquiry, FindAccountController 와 연결. -->
	<div class="wrap_main " id="emailPwFindFormContent">
		<h1>이메일/비밀번호 찾기</h1>
		<p class="id_tab ">
			이메일이 기억나지 않으세요? <br>본인인증을 통해 이메일을 확인하실 수 있어요!
		</p>
		<p class="pw_tab display_none">
			비밀번호가 기억나지 않으세요? <br>이메일 인증을 통해 비밀번호를 재설정하실 수 있어요!
		</p>

		<ul class=" nav nav-tabs nav-fill mx-6" id="myTab" role="tablist">
			<li class="nav-item" role="presentation"><a
				class="nav-link active " id="home-tab" data-toggle="tab"
				href="#home" role="tab" aria-controls="home" aria-selected="true">이메일
					찾기</a></li>
			<li class="nav-item" role="presentation"><a class="nav-link"
				id="profile-tab" data-toggle="tab" href="#profile" role="tab"
				aria-controls="profile" aria-selected="false">비밀번호 초기화</a></li>
		</ul>

		<div class="tab-content mt-1" id="myTabContent">
			<div class=" tab-pane fade show active" id="home" role="tabpanel"
				aria-labelledby="home-tab">
				<div class="inner-tab">
					<div id="id " class="id_tab">
						<div class="label_space">
							<label for="username" id="name_label">이름</label>
						</div>
						<input type="text" id="username" placeholder="이름을 입력해 주세요.">

						<div class="label_space">
							<label for="phone" id="phone_label">휴대폰 번호</label>
						</div>
						<input type="text" id="phone"
							placeholder="휴대폰 번호를 입력해 주세요. ( - 제외)">
					</div>

				</div>
				<input type="submit" value="확인"  id="emailSearch" class="chkok">

			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel"
				aria-labelledby="profile-tab">
				<div id="pwin" class="">

					<div class="inner-tab ">
						<div id="pw" class="pw_tab">
							<div class="label_space">
								<label for="name" id="pwName_label">이름</label>
							</div>
							<input type="text" id="name" placeholder="이름을 입력해 주세요"
								name="mname">
							<div class="label_space">
								<label for="email" id="pwUserEmail_label">이메일</label>
							</div>
							<input type="email" id="email" placeholder="이메일을 입력해 주세요"
								name="memail">
						</div>
					</div>
					<input type="submit" value="확인" class="chkok" id="pwSearch">

				</div>

			</div>
		</div>
	</div>

	<!-- html(2). 이메일 찾기 성공 -사용자 요청:  /inquiry/pw,  FindAccountController 와 연결. -->
	<div class="wrap_main display_none" id="emailSuccessContent">
		<h1>이메일 찾기</h1>
		<p class="pw_tab ">
			이메일이 기억나지 않으세요? <br>본인인증을 통해 이메일을 확인하실 수 있어요!
		</p>
		<div class="result_box">
			<p>
				입력하신 정보와 일치하는 계정을 발견했습니다. <br> <br><span id="inquiryEmail"></span>
			</p>
			<a th:href="@{/login}"><input type="button" value="로그인"></a>
		</div>

	</div>
	<!-- html(3). 비밀번호 찾기. 인증번호 발송여부 묻기 - 사용자 요청: /inquiry/pw/auth,  MailSenderController와 연결. -->
	<div class="wrap_main display_none" id="pwContinueContent">
		<h1>비밀번호 재설정</h1>
		<p class="pw_tab ">
			비밀번호가 기억나지 않으세요? <br>이메일 인증을 통해 비밀번호를 재설정하실 수 있어요!
		</p>
		<div class="result_box">
			<p>
				입력하신 정보와 일치하는 계정을 발견했습니다. 아래의 이메일로 인증을 받아서 <br>비밀번호 재설정을
				진행하시겠습니까? <br>
				<br> <span id="inquiryPw"></span>
			</p>
			<input type="submit" value="계속" id="pwContinueBtn" data-toggle="modal" data-target="#staticBackdrop">
		</div>

	</div>
	<!-- html(4). 비밀번호 찾기. 인증번호 입력 - 사용자 요청: /inquiry/pw/input-code,  AuthNumberController 와 연결. -->
	<div class="wrap_main display_none" id="pwInputCodeContent">
		<h1>비밀번호 재설정</h1>
		<p class="pw_tab ">
			비밀번호가 기억나지 않으세요? <br>이메일 인증을 통해 비밀번호를 재설정하실 수 있어요!
		</p>
		<div class="result_box">
			<p>
				이메일을 보내드렸으며 인증을 통해 <br> 비밀번호를 재설정 할 수 있습니다.
			</p>
			<table>
				<tr>
					<td class="border-1"><label for="authNum">인증번호 입력</label></td>
					<td class="border-1"><input type="text" class="border_none"
						id="authNum"></td>
				</tr>
			</table>
			<input type="submit" value="확인" id="codeBtn">
		</div>

	</div>

	<!-- html(5). 비밀번호 찾기. 인증번호 재설정 form - 사용자 요청: /inquiry/pw/reset,  PwResetController 와 연결. -->
	<div class="wrap_main display_none" id="pwResetContent">
		<h1>비밀번호 재설정</h1>
		<p class="pw_tab ">
			비밀번호가 기억나지 않으세요? <br>이메일 인증을 통해 비밀번호를 재설정하실 수 있어요!
		</p>
		<div class="result_box">
			<p>비밀번호를 새로 입력해 주세요.</p>
			<table class="pwInput">
				<tr>
					<td class="border-1" id="newPwInput"><input type="password"
						class="border_none width_400px" placeholder="새로운 비밀번호" id="newPw"></td>
				</tr>
				<tr>
					<td class="border-1" id="reNewPwInput"><input type="password"
						class="border_none width_400px" placeholder="새로운 비밀번호 확인"
						id="reNewPw"></td>
				</tr>
			</table>
			<div class="newPwMsg"></div>
			<input type="submit" value="확인" id="pwResetBtn">
		</div>
	</div>
	<!-- html(6). 비밀번호 찾기 성공 화면 - 사용자 요청: 따로 없음,  ajax로 처리하여 연결. -->
	<div class="wrap_main display_none" id="pwSuccessContent">
		<h1>비밀번호 찾기</h1>
		<p class="pw_tab ">
			비밀번호가 기억나지 않으세요? <br>이메일 인증을 통해 비밀번호를 재설정하실 수 있어요!
		</p>
		<div class="result_box">
			<p>비밀번호 재설정이 완료되었습니다.</p>
			<a th:href="@{/login}"><input type="button" value="로그인"></a>
		</div>

	</div>

	<!-- script(1). (html1)이메일/비밀번호 찾기 메인화면에서 탭으로 클릭하여 화면전환시키기 -->
	<script>
			$('#profile-tab').on('click', function() {
				$('.id_tab').addClass('display_none');
				$('.pw_tab').removeClass('display_none');
			});

			$('#home-tab').on('click', function() {
				$('.id_tab').removeClass('display_none');
				$('.pw_tab').addClass('display_none');

			});
	</script>
	<!-- script(2). (html1)이메일/비밀번호 찾기 메인화면에서 input의 label에 대한 효과.  -->
	<script>
	    //〓〓 focus In  〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓
		//이름input박스를 누르면 label 이름이 fadein 되고
		//이름input박스 바깥을 누르면 label 이름이 사라짐-아이디 중복 확인과 비슷.

		//[이메일 찾기 - 이름] 
	    $('#username').focus(function () {
	        $('#name_label').css('color', 'darkgray');
	    });
		//[이메일 찾기 - 전화번호]
	    $('#phone').focus(function () {
	        $('#phone_label').css('color', 'darkgray');
	    });
		//[비밀번호 찾기 - 이름]
	    $('#name').focus(function () {
	        $('#pwName_label').css('color', 'darkgray');
	    });
		//[비밀번호 찾기 - 이메일]
	    $('#email').focus(function () {
	        $('#pwUserEmail_label').css('color', 'darkgray');
	    });
		
	    //〓〓 focus out 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓
	    //공백이면 흰색 글씨로, 공백이 아니면 그레이 글씨색 유지.
	    
	    //[이메일 찾기 - 이름] 
	    $('#username').focusout(function () {
	        if($('#username').val()==''){
	            //공백일 때
	            $('#name_label').css('color', 'white');
	        }else{
				//공백이 아닐 때
	            $('#name_label').css('color', 'darkgray');
	        }
	    });
	    
		//[이메일 찾기 - 전화번호]
	    $('#phone').focusout(function () {
	        if($('#phone').val()==''){
	            $('#phone_label').css('color', 'white');
	        }else{
	            $('#phone_label').css('color', 'darkgray');
	        }
	    });
		//[비밀번호 찾기 - 이름]
	    $('#name').focusout(function () {
	        if($('#name').val()==''){
	            //공백일 때
	            $('#pwName_label').css('color', 'white');
	        }else{
				//공백이 아닐 때
	            $('#pwName_label').css('color', 'darkgray');
	        }
	    });
		//[비밀번호 찾기 - 이메일]
	    $('#email').focusout(function () {
	        if($('#email').val()==''){
	            //공백일 때
	            $('#pwUserEmail_label').css('color', 'white');
	        }else{
				//공백이 아닐 때
	            $('#pwUserEmail_label').css('color', 'darkgray');
	        }
	    });
	    
	</script>
	
	<!-- script(3) (html1)이메일/비밀번호 찾기 메인화면에서 이메일찾기 form에 대한 ajax. 성공 시 html1과 html2를 이어줌. -->

	<script>
		var epc = $('#emailPwFindFormContent');
		var ec = $('#emailSuccessContent');
		var pc = $('#pwContinueContent');
		
		/* $('#emailSearch').submit(function() { *///ec,pc 위에 이 스크립트가 있을 때에는 왜 작동이 안되었을까?
		$('#emailSearch').on('click', function() {
			var name = $('#username').val();
			var phone = $('#phone').val();
			console.log(name + ':' + phone);
			$.ajax({
				url : '/inquiry/email',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify({
					"name" : name,
					"phone" : phone
				}),
				success : function(data) {
					if (data.trim() != '') {
						console.log(data);
						epc.addClass('display_none');
						ec.removeClass('display_none');
						$('#inquiryEmail').html(data);
					} else {
						alert('일치하는 이메일 정보가 없습니다. 다시 입력해 주세요.')

					}
				}

			});
		});
		<!-- script(4) (html1)이메일/비밀번호 찾기 메인화면에서 비밀번호 찾기 form에 대한 ajax. 성공 시 html1에서 html3으로 이어줌. -->
		$('#pwSearch').on('click', function() {
			var name = $('#name').val();
			var email = $('#email').val();
			console.log(name + ':' + email);
			$.ajax({
				url : '/inquiry/pw',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify({
					"name" : name,
					"email" : email
				}),
				success : function(data) {
					if (data.trim() != '') {
						console.log(data);
						epc.addClass('display_none');
						pc.removeClass('display_none');
						$('#inquiryPw').html(data);

					} else {
						alert('일치하는 이메일 정보가 없습니다. 다시 입력해 주세요.')

					}
				}

			});

		});
		
		<!-- script(5~6) (html3)이메일로 인증보낼지 여부 묻는 비밀번호 찾기화면-->
		$('#pwContinueBtn').on('click', function() {
            <!-- script(5) 인증번호가 전송 중일 때 버튼의 달라지는 효과.  -->
			$('#pwContinueBtn').val('전송 중...');
			$('#pwContinueBtn').attr('disabled',true);
			//$('#pwContinueBtn').addClass('.sending'); --이거 왜 적용이 안되는거지?
            $('#pwContinueBtn').css({
                backgroundColor: 'white',
                border: '1px solid red',
                //cursor: 'progress',
                color: 'red',
                'font-weight': 'bold'
            });
			
            <!-- script(6) (html3)비밀번호 찾기화면에서 찾은 이메일주소로 인증번호 보내는 진행 계속할 것인지 묻는 것에 대한 ajax. 성공 시 htm3에서 html4으로 이어줌. -->
         	 //'계속'을 누르면 ajax로 인증메일을 보내고  메일 보냈는지 여부를 데이터로 받기
			var inquiryEmail = $('#inquiryPw').html();
			var pwInputCode = $('#pwInputCodeContent');

			console.log(inquiryEmail);
	
			$.ajax({
				url : '/inquiry/pw/auth',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify({
					"userEmail" : inquiryEmail,
				}),
				success : function(data) {
					console.log(data);
					//인증번호를 입력하는 다음창이 나오게 하기.
					if (data == 'Y') {
						alert('인증번호가 전송되었습니다. 메일을 확인해 주세요.');
						//현재 페이지가 들어가고
						$('#pwContinueContent').addClass('display_none');
						//pwInputCodeContent 영역이 나옴
						$('#pwInputCodeContent').removeClass('display_none');

					} else {
						alert('인증번호 전송에 실패하였습니다. 다시 진행해 주세요.');
						return false;
					}

				}

			});

		});
		 <!-- script(7) (html4)비밀번호 찾기화면에서 인증번호 입력하여 인증 성공하면 비밀번호 재설정하는 페이지로 보내주는 ajax. 성공 시 htm4에서 html5으로 이어줌. -->
		$('#codeBtn').on('click', function() {

			var inquiryEmail = $('#inquiryPw').html();
			var pcc = $('#pwContinueContent');
			var pic = $('#pwInputCodeContent');
			var inputNum = $('#authNum').val();

			console.log(inquiryEmail);

			$.ajax({
				url : '/inquiry/pw/input-code',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify({
					"userEmail" : inquiryEmail,
					"inputNum" : inputNum
				}),
				success : function(data) {
					console.log(data);
					//인증번호를 입력하는 다음창이 나오게 하기.
					if (data == 'Y') {
						//alert('성공');
						alert('인증되었습니다.');
						$('#pwInputCodeContent').addClass('display_none');
						$('#pwResetContent').removeClass('display_none');
					} else if (data == 'N') {
						alert('잘못 입력하셨습니다. 다시 입력해 주세요.');
						return false;
					}

				}

			});

		});
	</script>
	
	<!-- script(8~9) (html5)비밀번호 재설정form 화면 -->
	<script>
		$('#pwResetBtn').on('click', function() {
			<!-- script(8) 비밀번호 재설정 form의 정규식과 제한 설정해 두기. -->
			//확인 버튼 눌렀을 때 비밀번호 재설정 form에 대한 반응
			//1. 비밀번호 input이 빈칸일 경우 메시지 띄우고 빨간색 border 주기//  '새로운 비밀번호를 입력해 주세요.'
			//2. 비밀번호 확인 input이 빈칸일 경우 ...//					'새로운 비밀번호를 다시 한 번 입력해 주세요.'
			//3. 두 input이 일치하지 않을 경우 ....//						'비밀번호가 일치하지 않습니다.'
			//4. 비밀번호 정규식에 맞추어서 입력하지 않을 경우 ...//				'~~하게 입력해 주세요.'
			//5. input을 눌렀을 경우 메시지와 border 빨간색이 없어짐.			

			var pwExp = /^(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,20}$/;
			//비밀번호 입력이 안되어 있을 경우
		    if ($('#newPw').val() == '') {
		        $('#newPwInput').css('border-color', 'red');
		        $('.newPwMsg').html('새로운 비밀번호를 입력해 주세요.');
		        return false;
		    //비밀번호 입력 정규식
		    } else if (!pwExp.test($('#newPw').val().trim())) {
		        $('.newPwMsg').html('영어, 숫자, 특수기호 모두를 포함해서 8~30자리 입력해 주세요.');
		        $('#newPwInput').css('border-color', 'red');
		        return false;
		    }
			//비밀번호 확인 입력이 안되어 있을 경우
		    if ($('#reNewPw').val() == '') {
		        $('.newPwMsg').html('새로운 비밀번호를 한 번 더 입력해 주세요.');
		
		        $('#newPwInput').css('border-color', '#ddd');
		        $('#newPwInput').css('border-bottom-color', 'red');
		        $('#reNewPwInput').css('border-color', 'red');
		        return false;
		    }
			//비밀번호 두 개가 일치하지 않을 경우
		    if ($('#newPw').val().trim() != $('#reNewPw').val().trim()) {
		        $('.newPwMsg').html('비밀번호가 일치하지 않습니다.');
		        $('#newPwInput').css('border-color', 'red');
		        $('#reNewPwInput').css('border-color', 'red');
		        return false;
		    }
			
			<!-- script(9). 재설정 form에서 입력한 비밀번호가 db에 잘 저장되도록 하는 ajax. html5에서 html6으로 이어줌. -->
			//ajax 시작
			var inquiryEmail = $('#inquiryPw').html();

			console.log(inquiryEmail);

			$.ajax({
				url : '/inquiry/pw/reset',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify({
					"userEmail" : inquiryEmail,
					"userPw" : $('#newPw').val()
				}),
				success : function(data) {
					console.log(data);
					//db에 새 비밀번호 저장이 완료되었다면 y 반환.
					if (data == 'Y') {
						$('#pwResetContent').addClass('display_none');
						$('#pwSuccessContent').removeClass('display_none');
					} else if (data == 'N') {
						alert('실패! 다시 입력해 주세요.');
						return false;
					}

				}

			});

		});
		
		//input을 눌렀을 경우 메시지 초기화.	
		$('#newPw').focus(function () {
		    $('.newPwMsg').html('');
		    $('#newPwInput').css('border-color', '#ddd');
		    $('#reNewPwInput').css('border-color', '#ddd');
		});
		$('#reNewPw').focus(function () {
		    $('.newPwMsg').html('');
		    $('#newPwInput').css('border-color', '#ddd');
		    $('#reNewPwInput').css('border-color', '#ddd');
		});
	</script>

	<!-- content 영역 끝 ---->

	<!-- footer 영역 -->
	<th:block th:replace="frame/footer"></th:block>

</body>
</html>