<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>신촌 맥주 : 로그인</title>
<!-- metaheader 영역 -->
<link rel="stylesheet" th:href="@{/css/member/loginForm.css}">
<th:block th:replace="frame/metaheader"></th:block>

<script>
	$(document).ready(function() {
		$('#loginForm').submit(function(event) {
			if ($('#memail').val() == '') {
				alert('아이디를 입력해 주세요.');
				return false;
			}
			if ($('#mpw').val() == '') {
				alert('비밀번호를 입력해 주세요.');
				return false;
			}
			console.log($('#memail').val() + ':' + $('#mpw').val());
			event.preventDefault();

			ajax_login();

		});
	});
	function ajax_login() {

		var allData = {
			"memail" : $('#memail').val(),
			"mpw" : $('#mpw').val(),
			"redirectUri" : $('#referer').val()
		};

		$.ajax({
			url : '/login',
			type : 'post',
			contentType : "application/json",
			data : JSON.stringify(allData),
			success : function(data) {
				console.log(data);
				// uri 정보 + result : boolean 
				if (data.result == true) {
					alert('로그인 성공' + " " + allData.redirectUri);
					
					//로그인 성공했지만 이전페이지가 없거나 회원가입 성공한 페이지가 이전 페이지라면,  메인페이지로 이동하기.
					//if (allData[2] == null || allData[2].substring(allData[2].length-5, allData[2].length) == '/join' ) {
					if (allData.redirectUri == "" || allData.redirectUri == null || allData.redirectUri == undefined) {
						console.log('redirect uri가 없어');
						location.href = '/';
					} else {
						location.href = data.refererUri;
					}
				} else {
					alert('로그인 실패');
					allData.redirectUri = data.refererUri;
					$('#memail').val('');
					$('#mpw').val('');
					return false;
				}

			},
			error : function(request, status, error) {
				alert('서버 통신에 문제가 발생했습니다. 다시 실행해주세요.');
				console.log("code:" + request.status + "\n" + "error:"
						+ error);
			},

		});
	}
</script>

</head>
<body>

	<!-- header 영역 -->
	<th:block th:replace="frame/header_logout"></th:block>

	<!-- nav 영역 -->
	<th:block th:replace="frame/nav"></th:block>

	<!-- content 영역 ---------------------------------------------------------->
	<!-- 내가만든 로그인 영역// -->
	<!-- login 메인 전체 영역 -->
	<div id="loginMain_wrap">
		<div class="loginTitle">LOGIN</div>
		<div id="loginSection">
			<!-- login 입력양식 -->
			<form id="loginForm">
				<div class="form_box margin_top">
					<input type="email" placeholder="이메일" id="memail"
						class="loginLongBox"> <input type="password"
						placeholder="비밀번호" id="mpw" class="loginLongBox">
				</div>
				<div class="cookie_chk margin_top">
					<input type="checkbox" id="emailChk" value="on"> <label
						for="emailChk">이메일 기억하기</label> <input type="text"
						th:value="${redirectUri}" id="referer">
				</div>

				<div class="margin_top">
					<input type="submit" value="로그인" class="loginLongBox">
				</div>
			</form>
			<!-- login 이 외의 링크 -->
			<div id="middle" class="margin_top">
				<a th:href="@{/join/type}">회원가입</a> <a href="" class="float_right">이메일/비밀번호찾기</a>
			</div>
			<div class="margin_top">
				<a href="" class="kakao_start loginLongBox">카카오로 시작하기</a>
			</div>

		</div>
	</div>


	<!-- // 로그인 영역 --------------------------------------------------------------->

	<!-- footer 영역 -->
	<th:block th:replace="frame/footer"></th:block>

</body>
</html>