<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playingcard</title>
    
    <th:block th:include="frame/metaheader"></th:block>
    
    <link rel="stylesheet" href="/css/shop/product34.css" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- 이부분기억할것 -->
    <script>
        
		var gphotoname; // 사진이름
    	var gname;
        var price;
        var amount;
        var gidx;
        var totalPrice;

        $(document).ready(function(){
            price = $('#price').val();
            amount = $('#amount').val();
            gidx = $('#price').val();

            // 버튼 이벤트
            $('#plus').click(function(){

                amount++;
                totalPrice = price * amount;
                
                $('#sum_p_num').text(totalPrice);
                $('#amount').val(amount);

            });

            $('#minus').click(function(){
                amount--;
                totalPrice = price * amount;

                $('#sum_p_num').text(totalPrice);
                $('#amount').val(amount);
            });
            

        });
        
        
    </script>  
    
</head>
<body>
   
   <!-- header -->
<!-- 	<th:block th:include="frame/header로 바꿧"></th:block> -->

	<th:block th:include="frame/header_login"></th:block>
	<th:block th:include="frame/nav"></th:block>   
	
	
    <div class="container">
            
            <img class="gim_thumbnail" src="/images/shop/화투2.png" alt="화투" >
            <div class="product_1">
                <h1 class="product_name">SINCHON PLAYINGCARD</h1>
                <h3 style="color: rgb(83, 81, 81);">신촌맥주 조약돌 화투</h3>
                <h1 class="price" >8,800원</h1>
                <h2 style="color:#cbd6d6" >회원가입하면 언제 어디서나 무료 배송</h2>
                
                    <!-- 수량 +,-시 가격 변동하는 방법 찾아볼것!!!  -->
                    <div class="edge_color">
                        <td>수량</td>
                        <hr >
                        <form  name='form1' action="/shop/shop_payment"  method='get'>
                        
							<input name="gphotoname" type="hidden" value="화투2">                        
                        	<input name="gname" type="hidden" value="조약돌 화투">
                            <input name="gprice" type="hidden" id="price" value="8800">
                            <input name="gidx" type="hidden" id="idx" value="3">
                            <input  type="button"  class="count_btn1" value="+" id="plus"  >    
                            <input name="amount" type="text"  class="amount_number"     value="1" id ="amount" >   
                            <input type="button"  class="count_btn2" value="-" id="minus" > 
                            <div class="opt_block">
                                <p style="padding-top: 10px;">
                                    <span  class="totalcount" style="text-align: left;"  >총 상품금액</span>
                                    <span  id="sum_p_num" class="total_price" style="text-align: right; padding-left: 110px;" >8800</span>
                                </p>
                            </div>
		                    <div class="row">
		                            <input type="submit" value="BuyNow"  class="button_form1" style="color: #fff; background-color: #5ae5ec;">
		                            <input type="submit" value="Basket"	formaction="/cart/cart" class="button_form2"  style="color: #5ae5ec; background-color: #fff;">
		                         
		
		                    </div>	                
                        </form>
                        
                    </div>
                    
               
                
                
            </div>
    
        
        <div id="description">
            
            <h4 class="goods_detail">상세 정보</h4>
            <hr   class="goods_down" >
            <img class="gim_thumbnail2" src="/images/shop/화투3.png">
            <div class="detail_comment">
                <div class="short_comment">
                <p style="color: #5ae5ec; ">신촌맥주 조약돌 화투</p>
                <p style="color: gray;">작은 따뜻함을 담은</p>
                <p style="color: black;">신촌맥주 조약돌 화투</p>
                </div>
                <div class="short2_comment"> 
                    <p>어린시절 조약돌을 가지고 놀던 감성을 살려</p>
                    <p>한 장씩 일러스트의 혼을 담았습니다..</p>
                    <p>공정 수작업으로 이루어진</p>
                    <p>조약돌 화투로 특별한 일상을 보내세요.</p>
                </div>
                <table color="goods_description">
                    <thead >
                        <tr>
                            <th  style="color: #5ae5ec; font-size: 30px;">상품 정보</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 18px;">
                        <tr>
                            <td>품명및 모델명</td>
                            <td>조약돌 화투</td>
                        </tr>
                        <tr>
                            <td>재질</td>
                            <td>플라스틱</td>
                        </tr>
                        <tr>
                            <td>크기</td>
                            <td>패키지:53 x 40 x 61 mm / 화투 : 55 x 35 mm</td>
                        </tr>
                        <tr>
                            <td>제조자</td>
                            <td>괄호 프로젝트</td>
                        </tr>
                        <tr>
                            <td>제조국</td>
                            <td>한국</td>
                        </tr>
                        <tr>
                            <td>유통 판매원</td>
                            <td>신촌맥주 주식회사</td>
                        </tr>
                        <tr>
                            <td>A/S</td>
                            <td>02-2235-5555</td>
                        </tr>
                        
                    </tbody>
                </table>
                
            <div class="exchange">
                <div>
                    <h3 style="color: #5ae5ec;">교환 및 환불 안내</h3>
                    <ul>
                        <li>제주맥주에서 구매하신 제품은 받으셨을 때와 동일한 상태로, 구매후 7일 이내에 교환/환불 가능</li>
                        <li>단순 변심으로 인한 교환 시 왕복 배송비 6천원, 환불시 3천원을 청구합니다.</li>
                        <li>오배송, 불량으로 인한 교환/환불 시 배송비 무료입니다.</li>
                        <li>제품 배송 이후 환불 요청 시에는 제품 회수 후에 환불이 완료됩니다.</li>
                        <li>자세한 사항은 고객센터 혹은 문의 게시판에 문의해주세요.</li>
                    </ul>

                </div>


            </div>
        </div>
    </div>
    <th:block th:include="frame/footer"></th:block>
    

</body>
</html>

    