<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gamguel</title>
    
    <th:block th:include="frame/metaheader"></th:block>
    <link rel="stylesheet" href="/css/shop/product.css" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 이부분 기억할것 -->
    <script>
        
		var gphotoname; // 사진이름
        var price;
        var amount;
        var gidx;
        var totalPrice;

        $(document).ready(function(){
            price = $('#price').val();
            amount = $('#amount').val();
            gidx = $('#price').val();

            // 버튼 이벤트
            $('#plus').click(function(){

                amount++;
                totalPrice = price * amount;
                
                $('#sum_p_num').text(totalPrice);
                $('#amount').val(amount);

            });

            $('#minus').click(function(){
                amount--;
                totalPrice = price * amount;

                $('#sum_p_num').text(totalPrice);
                $('#amount').val(amount);
            });
            

        });
        
        
    </script>

</head>
<body>
<!-- 	<th:block th:include="frame/header로 바꿔야함"></th:block> -->

	<th:block th:include="frame/header"></th:block>
	<th:block th:include="frame/nav"></th:block>
	
	
    <div class="container">
            
            <img class="gim_thumbnail" src="/images/shop/감귤칩2.png" alt="김부각가가가가" >
            <div class="product_1">
                <h1 class="product_name">SINCHON GARNISH</h1>
                <h3 style="color: rgb(83, 81, 81);">제주를 담은 감귤칩(20ea)</h3>
                <h1 class="price" >11,000원</h1>
                <h2 style="color:#5ae5ec" >회원가입하면 언제 어디서나 무료 배송</h2>
                
                    <!-- 수량 +,-시 가격 변동하는 방법 찾아볼것!!!  -->
                    <div class="edge_color">
                        <td>수량</td>
                        <hr >
                        <form  name='form1' action="/shop/shop_payment"  method='get'>
                        
							<input name="gphotoname" type="hidden" value="감귤칩2">                        
                        	<input name="gname" type="hidden" value="제주를 담은 감귤칩">                        
                            <input name="gprice" type="hidden" id="price" value="11000">
                            <input name="gidx" type="hidden" id="idx" value="2">
                            <input  type="button"  class="count_btn1" value="+" id="plus"  >    
                            <input name="amount" type="text"  class="amount_number"     value="1" id ="amount" >   
                            <input type="button"  class="count_btn2" value="-" id="minus" > 
                            <div class="opt_block">
                                <p style="padding-top: 10px;">
                                    <span  class="totalcount" style="text-align: left;"  >총 상품금액</span>
                                    <span  id="sum_p_num" class="total_price" style="text-align: right; padding-left: 110px;" >11000</span>
                                </p>
                            </div>
		                    <div class="row">
		                            <input type="submit" value="BuyNow"  class="button_form1" style="color: #fff; background-color: #5ae5ec;">
		                            <input type="submit" value="Basket" formaction="/cart/cart" class="button_form2"  style="color: #5ae5ec; background-color: #fff;">
		                         
		
		                    </div>	                
                        </form>
                        
                    </div>
                    
                
                
            </div>
    
        
        <div id="description">
            
            <h4 class="goods_detail">상세 정보</h4>
            <hr   class="goods_down" >
            <img class="gim_thumbnail2" src="/images/shop/감귤칩3.png">
            <div class="detail_comment">
                <p style="color: gray;">신촌맥주와</p>
                <p style="color: gray;">환상적인 찰떡 궁합</p>
                <p >신촌에서 만난</p>
                <p>감귤칩 </p>
                <div class="short_comment"> 
                    <p>전국 산지에서 찾은 상급의 김 원물을 받아</p>
                    <p>한 장씩 사람이 튀긴 감귤칩입니다.</p>
                    <p>짭짤하면서 고소한,감칠맛이 매력적이며</p>
                    <p>신촌 맥주와 잘 어울려요!!!</p>
                </div>
                <table color="goods_description">
                    <thead >
                        <tr>
                            <th  style="color: #5ae5ec; font-size: 30px;">상품 정보</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 18px;">
                        <tr>
                            <td>제품명</td>
                            <td>신촌에서 만난 감귤칩</td>
                        </tr>
                        <tr>
                            <td>식품 유형</td>
                            <td>기타 수산물 가공품</td>
                        </tr>
                        <tr>
                            <td>포장재질</td>
                            <td>외포장:지함,내포장:폴리프로필렌</td>
                        </tr>
                        <tr>
                            <td>내용량</td>
                            <td>96g(4.8g * 20)</td>
                        </tr>
                        <tr>
                            <td>영양성분</td>
                            <td>영양 정보 참조</td>
                        </tr>
                        <tr>
                            <td>유통기한</td>
                            <td>제품 정보 표시면 표기일까지</td>
                        </tr>
                        <tr>
                            <td>성분명 및 함량</td>
                            <td>제품 정보 참조</td>
                        </tr>
                        <tr>
                            <td>업소명</td>
                            <td>라이스영농조합법인</td>
                        </tr>
                        <tr>
                            <td>소비자 상담 전화번호</td>
                            <td>부정,불량 식품 신고는 국번없음 13399</td>
                        </tr>
                    </tbody>
                </table>
                <table class="kcal">
                    <thead>
                        <tr>
                            <th colspan="2" style="color: #5ae5ec;">영양정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>총 내용량</td>
                            <td>96g</td>
                        </tr>
                        <tr>
                            <td>열량</td>
                            <td>4571.6kcal</td>
                        </tr>
                        <tr>
                            <td>나트륨</td>
                            <td>6.71mg         3.4%</td>
                        </tr>
                        <tr>
                            <td>당류</td>
                            <td>58g             58%</td>
                        </tr>
                        <tr>
                            <td>탄수화물</td>
                            <td>68.7g           21.1%%</td>
                        </tr>
                        <tr>
                            <td>지방</td>
                            <td>3.6g            34.8%</td>
                        </tr>
                        <tr>
                            <td>트랜스지방</td>
                            <td>18g             0%</td>
                        </tr>
                        <tr>
                            <td>콜레스테롤</td>
                            <td>3.9g            1.3%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="exchange">
                <div>
                    <h3 style="color: #5ae5ec;">교환 및 환불 안내</h3>
                    <ul>
                        <li>제주맥주에서 구매하신 제품은 받으셨을 때와 동일한 상태로, 구매후 7일 이내에 교환/환불 가능</li>
                        <li>단순 변심으로 인한 교환 시 왕복 배송비 6천원, 환불시 3천원을 청구합니다.</li>
                        <li>오배송, 불량으로 인한 교환/환불 시 배송비 무료입니다.</li>
                        <li>제품 배송 이후 환불 요청 시에는 제품 회수 후에 환불이 완료됩니다.</li>
                        <li>자세한 사항은 고객센터 혹은 문의 게시판에 문의해주세요.</li>
                    </ul>

                </div>


            </div>
        </div>

    </div>
    <!-- footer -->
    <th:block th:include="frame/footer"></th:block>
</body>
</html>

    