<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지 주문 내역</title>

<link rel="stylesheet" th:href="@{/css/mypage/orderList.css}">
<th:block th:replace="frame/metaheader"/>

</head>
<body>
	<th:block th:replace="frame/header"/>
	<th:block th:replace="frame/nav"/>

	<div class="mt-5 text-center pb-5">
		<p class="text-center text-48 text-sinchon mb-0">MY PAGE</p>
		<p class="text-center text-14">안녕하세요 신촌맥주입니다.</p>
	</div>
	
	<div id="scrollableNavBar">
		<div class="row justify-content-between mb-5 pb-5">
			<div class="col text-center text-14">
				<a th:href="@{/mypage/orderList}" class="link-unstyle">
					<span class="pb-1 border-bottom border-sinchon text-sinchon">주문 내역</span>
				</a>
			</div>
			<div class="col text-center text-14">
				<a th:href="@{/mypage/rezList}" class="link-unstyle">예약 내역</a>
			</div>
			<div class="col text-center text-14">
				<a th:href="@{/mypage/edit-info}" class="link-unstyle">정보 수정</a>
			</div>
			<div class="col text-center text-14">
				<a th:href="@{/mypage/delete-id}" class="link-unstyle">회원 탈퇴</a>
			</div>
		</div>
	</div>

	<div class="container">
		<p class="text-center text-32 mb-5">상품 주문 내역</p>
		<div class="row">
			<div class="col-lg-2" id="sideBar">
				<ul class="text-14 list-unstyled" id="sideBar">
					<li class="mb-4"><a th:href="@{/mypage/orderList}" class="link-unstyle">
						<span class="pb-1 border-bottom border-sinchon text-sinchon">주문 내역</span></a>
					</li>
					<li class="mb-4"><a th:href="@{/mypage/rezList}" class="link-unstyle">예약 내역</a></li>
					<li class="mb-4"><a th:href="@{/mypage/edit-info}" class="link-unstyle">정보 수정</a></li>
					<li class="mb-4"><a th:href="@{/mypage/delete-id}" class="link-unstyle">회원 탈퇴</a></li>
				</ul>
			</div>

			<div class="col-lg-8 pb-5">
				<div class="border border-sinchon">
					<div class="pt-4 pb-3 text-center">
						<div>
							<img th:src="@{/images/member/complete.png}" style="width: 75%;"/>
						</div>
						<div class="text-22 font-weight-bold mb-2 profileContent">
							<p class="text-sinchon mt-4" th:text="${session.loginInfo.name + '님 안녕하세요.'}"/>
						</div>
					</div>
				</div>

				<div class="mt-5 pl-3 pr-3">
					<div class="row justify-content-center">
						<th:block th:if="${list.empty}">
							<div class="text-center text-15 text-light-gray my-5 py-5">주문 내역이 없습니다.</div>
						</th:block>
						<th:block th:unless="${list.empty}">
							<table class="table">
								<th:block th:each="list : ${list}">
									<thead class="thead-light text-15">
										<tr>
											<th width="18%">
												<div th:text="${list.pdate}"></div>
											</th>
											<th width="45%"/>
											<th width="25%" class="pr-0"><div class="float-right">주문번호</div></th>
											<th width="12%" class="pl-2">
												<div th:text="|${#strings.replace(list.pdate,'-','')}${list.oidx}${list.pidx}|"></div>
											</th>
										</tr>
									</thead>
									<tbody class="text-13">
										<tr>
											<td><a href="#">
													<img th:src="@{|/images/shop/${list.gphoto}.png|}"
														style="width: 75px; height: 75px; object-fit: cover;"></a>
											</td>
											<td class="pt-4 pl-0"><div class="font-nanum" th:text="${list.gtitle}"></div>
														     	  <div class="font-nanum" th:text="${list.gname}"></div>
											</td>
											<td class="pt-3">
												<div class="font-nanum" th:text="|구매 수량 : ${list.amount}|"></div>
												<div class="font-nanum" th:text="|결제 금액 : ${list.pprice}|"></div>
												<th:block th:if="${list.pstatus == 'complete'}">
													<div class="font-nanum" th:text="|결제 상태 : 완료|"></div>
												</th:block>
												<th:block th:unless="${list.pstatus == 'complete'}">
													<div class="font-nanum" th:text="|결제 상태 : 대기|"></div>
												</th:block>
											</td>
											<!-- 리뷰 쓰기 시 사진 정보 같이 보내주기 -->
											<td class="pt-3">
												<a th:onclick="|fnc_writeReview('${list.oidx}')|" class="link-unstyle">
													<button class="btn btn-sinchon mb-2"
														style="width: 100px; height: 30px; line-height: 100%;">후기</button>
												</a>
											</td>
										</tr>
									</tbody>
								</th:block>
							</table>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 리뷰 쓰기 시 사진 정보 같이 보내주기 -->
	<script>
		function fnc_writeReview(order_idx) {
			console.log(order_idx);
			window.location = "/review/write?order_idx=" + order_idx;
		}
	</script>

	<th:block th:replace="frame/footer"></th:block>
</body>
</html>