<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지 예약 내역</title>

<link rel="stylesheet" th:href="@{/css/mypage/tour.css}">
<th:block th:replace="frame/metaheader"></th:block>

</head>
<body>
	<th:block th:replace="frame/header"></th:block>
	<th:block th:replace="frame/nav"></th:block>

	<div class="mt-5 text-center pb-5">
		<p class="text-center text-48 text-sinchon mb-0">MY PAGE</p>
		<p class="text-center text-14">안녕하세요 신촌맥주입니다.</p>
	</div>

	<div id="scrollableNavBar">
		<div class="row justify-content-between mb-5 pb-3">
			<div class="col text-center text-14">
				<a th:href="@{shop}" class="link-unstyle">주문 내역</a>
			</div>
			<div class="col text-center text-14">
				<a th:href="@{tour}" class="link-unstyle">
				<span class="pb-1 border-bottom border-sinchon text-sinchon">예약 내역</span></a>
			</div>
			<div class="col text-center text-14">
				<a th:href="@{edit-info}" class="link-unstyle">정보 수정</a>
			</div>
			<div class="col text-center text-14">
				<a th:href="@{delete-id}" class="link-unstyle">회원 탈퇴</a>
			</div>
		</div>
	</div>

	<div class="container">
		<p class="text-center text-32 mb-5">투어 예약 내역</p>
		<div class="row justify-content-center">
			<div class="col-lg-2" id="sideBar">
				<ul class="text-14 list-unstyled">
					<li class="mb-4"><a th:href="@{shop}" class="link-unstyle">주문 내역</a></li>
					<li class="mb-4"><a th:href="@{tour}" class="link-unstyle">
						<span class="pb-1 border-bottom border-sinchon text-sinchon">예약 내역</span></a>
					</li>
					<li class="mb-4"><a th:href="@{edit-info}" class="link-unstyle">정보 수정</a></li>
					<li class="mb-4"><a th:href="@{delete-id}" class="link-unstyle">회원 탈퇴</a></li>
				</ul>
			</div>

			<div class="col-lg-8 pb-5">
				<div class="row justify-content-center">
					<th:block th:if="${rezList == null}">
						<div class="text-center text-15 text-light-gray my-5 py-5">예약 내역이 없습니다.</div>
					</th:block>
					<th:block th:unless="${rezList == null}">
						<th:block th:each="rezList : ${rezList}">
							<table class="text-15" id="rezList">
								<tr>
									<th scope="row">프로그램</th>
									<td>신촌맥주 양조장 투어</td>
								</tr>
								<tr>
									<th scope="row">예약 번호</th>
									<td><div th:text="${rezList.pidx}"/></td>
								</tr>
								<tr>
									<th scope="row">예약일</th>
									<td><div th:text="${rezList.tdate}"/></td>
								</tr>
								<tr>
									<th scope="row">신청자</th>
									<td><div th:text="${session.loginInfo.name}"/></td>
								</tr>
								<tr>
									<th scope="row">인원</th>
									<td><div th:text="|${rezList.tpeople}명|"/></td>
								</tr>
								<tr>
									<th scope="row">결제 금액</th>
									<td><div th:text="${rezList.pprice}"/></td>
								</tr>
								<tr>
									<th scope="row">결제 정보</th>
									<td><div th:text="${rezList.pway}"/></td>
								</tr>
							</table>
						</th:block>
						<button class="btn btn-sinchon" id="rezChangeBtn">
							<a th:href="@{/tour/change-info}" class="link-unstyle">예약일 변경</a>
						</button>
					</th:block>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>

	<th:block th:replace="frame/footer"></th:block>
</body>
</html>